body {background-color: aquamarine;
     animation-name: colorChange;
     animation-duration: 30s;
     animation-iteration-count: infinite;
}

.button:hover{
     color: blueviolet;
}

@keyframes colorChange {
     from {background-color: aquamarine;}
     to {background-color: yellow;}
  }
