.myDiv {
    border: 5px outset cyan;
    background-color:black;
    text-align: center;
  }

  h1{
      color:purple;
      text-align: center;
      outline: 6px dotted purple;
      outline-offset: 12px;
  }

  h2{
     color: white;
  }

  p{
      color: cyan;
  }

  p{
      position: absolute;
  }

.container:hover .image {
    opacity: 0.3;
  }

  .image {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.aside {
    color: white;
}

.mediaDiv {
    #leftsidebar {width: 50%; float: left;}
    #main {margin-left: 50%;}
    background-color: black;
}

@media only screen and (min-width: 481px) {
        column-count: 2;
        column-gap: 25px;
}

@media only screen and (max-device-width: 480px) {
        column-count: 1;

}
